section {
    height: 500px;
    margin-right: 150px;
    margin-left: 150px;
}
.sekcja {

    background-color:lavenderblush;
    color:lightgreen;
}
nav {
    height: auto;
    float: right;
    margin: 30px;

}
header {
    background-color: lavenderblush;
    margin-left: 150px;
    margin-right: 150px;


}

li {
    display: inline;
    margin: 80px;
    color: blue;
}

.clear {
    clear: both;
}
footer {
    height: 300px;
    background-color:lavender;
    margin-left: 150px;
    margin-right: 150px;
}
.content {
    width: 800px;
    margin-left: 150px;
    margin-right: 150px;
}
.menu-obrazek {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color:royalblue;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 100px;
}
.obraz-dania-glowne {
    background-image: url("images/img_1620.jpg");
    background-position: center;
}
.obraz-desery {
    background-image:url("images/img_1621.jpg") ;
    background-position: center;

}

.obraz-napoje {
    background-image: url("images/img_1624.jpg");
    background-position: center;


}
#onas h1{
    background-color: lavenderblush;
}

#onas {
    background-color: lavender;
}

#zajawka {
    background-image: url("images/img_1619.jpg");
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    
}

#Rezerwacje {
    background-color: lavenderblush;
}

p {
    font-size: 40px;
    font-weight: lighter;
    font-family: "American Typewriter";
    font-style: italic;
    font-stretch: expanded;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 15px;
}

ul {
    margin-left: 70px;
    margin-right: 70px;
}


