section {
    height: 500px;
    /*margin-right: 150px;*/
    /*margin-left: 150px;*/
    position: relative;
    width: auto;
}
.sekcja {

    background-color:white;
    color:lightgreen;
}
nav {
    height: auto;
    float: right;
    margin: 30px;

}
header {
    background-color: white;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 100;

}

li {
    display: inline;
    margin: 72px;
    color: purple;
    font-weight: lighter;
    font-family: "Century Schoolbook L";
    font-style: italic;
    font-stretch: expanded;
}

.clear {
    clear: both;
}
footer {
    height: 300px;
    background-color:white;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
    width: auto;

}
.content {
    width: 800px;
    margin-left: 200px;
    margin-right: 200px;
}
.menu-obrazek {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:white;
    display: inline-block;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 5px 10px pink;






}
.obraz-dania-glowne {
    background-image: url("images/IMG_1620.JPG");
    float: left;
    margin-right: 85px;
    background-position: center;
   


}
.obraz-desery {
    background-image:url("images/IMG_1621.JPG") ;
    background-position: center;




}

.obraz-napoje {
    background-image: url("images/IMG_1624.JPG");
    background-position: center;
    float: right;



}
#onas h1{
    background-color: white;
}

#onas {
    background-color: white;
}

#zajawka {
    background-image: url("images/IMG_1619.JPG");
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    
}

.rezerwacje {
    background-color: white;
    display: block;


}

p {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Century Schoolbook L";
    font-style: italic;
    font-stretch: expanded;
    margin-left: -74px;
    margin-right: 600px;
    margin-top: 15px;
    text-shadow: 0px 0px 10px black;
    text-align: center;

}

ul {
    margin-left: auto;
    margin-right: auto;
}

main {
    padding-top: 76px;
}



